<style>
* {
  box-sizing: border-box;
  padding: 0;
  webkit-font-smoothing: antialiased;
}
  /* CSS HEX 
  primary: #d918a9; /*pink*/
  new primary: #ab1a1a; /*red*/
  new primary2: #ea1212; /*red*/
  bgDark: #403e81; /*navy*/
  new bgDark: #272120; /*navy*/
  bgLight: #dce1e3; /*lightest gray*/
  new bgLight: #c3a69f; /*lightest gray*/
  secondary: #9095a4; /*med gray*/
  new secondary: #3a3230; /*med gray*/
  new bgMed: #625350; /*med-lt gray*/
  white: #ffffff;
  bgMed: #aeb3bb; /*med-lt gray*/
  nevada: #646c6d; /*darkest gray*/
  sirocco: #737474; /*darker gray*/
  lilac: #d19ccd; /*light purple*/
    #abacac; /*med-dk gray*/
}   

header {
    background-color: #52063c;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #e3d6e0;  
}
header nav .left a{
    color: #e3d6e0;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .2s ease;
}
header nav .left a:hover{
    color:#e3d6e0;
}
header nav {
    padding: 2rem 0;    
}
header nav .logo{
    margin-right: 3rem;
}

html,
body {
  font-family: Arial, 'Poppins', sans-serif;
  background-color: #52063c;
  color: e3d6e0;
}
.btn-primary {
  display: inline-block;
  align-items: right;
  padding: 1rem 2rem;
  background-color: #cd6db2;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease;
}
.btn-primary:hover {
  background: transparent;
  border-color: #52063c;
  border-width: 3rem;
  color: #e3d6e0;
}

.btn-secondary {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #cd6db2;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease;
}
.btn-secondary:hover {
  background: transparent;
  border-color: #52063c;
  border-width: 3rem;
  color: #e3d6e0;
}
.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.hero .left img {
  width: 400px;
}

.hero .right h3, h6 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #e3d6e0;
  margin-bottom: .5rem;
}
.hero .right h1 {
  color:#e3d6e0;
  font-size: 3.5rem;
  font-weight: 10;
  line-height: 1.2;
  margin-bottom: 2rem;
} 
.hero .right h1 span {
  color: #e3d6e0;
}
hero .right h2 {
  color: #e3d6e0;
  font-size: 1.5rem;
  font-weight: 5rem;
  line-height: .5;
  margin-bottom: 2rem;
} 
.hero .right h2 span {
  color: #e3d6e0;
}
.hero .right p, h4 {f
  line-height: 1.9;
  margin-bottom: 2rem;
  color: #e3d6e0;
}

img {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: right;
}

/* Style the header */
.header {
  background-color: #e3d6e0;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.header.p {
  background-color: #e3d6e0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: auto; 
}

/* Style the footer */
.footer {
  background-color: #52063c;
  color:#e3d6e0;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>