
* {
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 10px blurred lavenderblush;
  padding: 0;
} 

/* Style the header */
.container-header {
  background-color: #e3d6e0;
  color:#52063c;
  box-shadow: 10px blurred lavenderblush;
  padding: 20px 20px;
  border-radius: 25px;
  margin: 20px 40px 20px 40px;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
  display: flex;
}

.background {
  background-color: #e3d6e0;
  box-shadow: 10px blurred lavenderblush;
  color:#52063c;
  padding: 20px;
  text-align: center; 
  font-size: 35px;
}

.header p {
  background-color: #e3d6e0;
  box-shadow: 10px blurred lavenderblush;
  padding: 60px;
  text-align: center;
  font-size: 40px;
}

.header img {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 10px blurred lavenderblush;
}

.left {
    color: #e3d6e0;
    text-decoration: none;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    transition: all .2s ease;
    padding-right: 2.5em;
}

.right {
  margin-top: 70px;
}

header nav .left a:hover{
    color:#e3d6e0;
    box-shadow: 10px blurred lavenderblush;
}

header nav {
    padding: 2rem 0; 
    box-shadow: 10px blurred lavenderblush;   
}

header nav .logo{
    margin-right: 3rem;
}

html,
body {
  font-family: Arial, 'Poppins', sans-serif;
  background-color: #52063c;
  color: #e3d6e0;
  padding: 20px 60px;
  box-shadow: 10px blurred lavenderblush;
}

h3 {
  color: #e3d6e0
}

p {
  font-size: 25px;
}

#Red {
  color: red;
}

a:link {
  color: rgb(180, 177, 242);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(192, 242, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 230);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(49, 39, 241);
  background-color: transparent;
  text-decoration: underline;
}

#contact {
  display: inline-block;
  align-items: right;
  padding: 1rem 2rem;
  background-color: #b53389;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease;
}

.btn-primary {
  display: inline-block;
  align-items: right;
  padding: 1rem 2rem;
  background-color: #b10368;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 25px;
  transition: all .2s ease;
}
.btn-primary:hover {
  background: transparent;
  border-color: #7f024b;
  border-width: 3rem;
  color: #e3d6e0;
}

.btn-secondary {
  display: inline-block;
  align-items: right;
  padding: 1rem 2rem;
  background-color: #b53389;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-secondary:hover {
  background: transparent;
  border-color: #c60475;
  border-width: 3rem;
  color: #e3d6e0;
}

.btn-tertiary {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #4d022d;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-tertiary:hover {
  background: transparent;
  border-color: #b10368;
  border-width: 3rem;
  color: #e3d6e0;
}

.btn-quaternary {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #b53389;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-quaternary:hover {
  background: transparent;
  border-color: #c60475;
  border-width: 3rem;
  color: #e3d6e0;
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.hero .right h3, h6 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #e3d6e0;
  margin-bottom: .5rem;
}

.hero .right h1 {
  color:#e3d6e0;
  font-size: 3.5rem;
  font-weight: 10;
  line-height: 1.2;
  margin-bottom: 2rem;
} 

.hero .right h1 span {
  color: #e3d6e0;
}

.hero .right h2 {
  color: #e3d6e0;
  font-size: 1.5rem;
  font-weight: 5rem;
  line-height: .5;
  margin-bottom: 2rem;
} 

.hero .right h2 span {
  color: #e3d6e0;
}

.hero .right p, h4 {
  line-height: 1.9;
  margin-bottom: 2rem;
  color: #e3d6e0;
}

h3 {
  color: #52063c;
}
h4 {
  color: #e3d6e0
}

img {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: right;
}

.container-2 {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  height: auto; 
}

.column-social {
  justify-content: center;
  background-color:#824875;
  align-items: flex-start;
  padding: 20px;
  border-radius: 25px;
}

.column-nav, .column-empty {
  background-color:#52063c;
  max-height: 100px;
}

.row-projects {
  display: -webkit-flex;
  background-color: #824875;
  align-items: stretch;
  align-self: stretch;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
}

.column-contact {
  background-color:#e3d6e0;
  max-height: 100px;
  font-size: 20px;
}

.column-brand, .column-social, .column-marketing, .column-tech, .column-pic, .column-testimonials {
  background-color:#824875;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  box-shadow: 10px blurred lavenderblush;
}

/* Style the footer */
.footer {
  background-color: #52063c;
  color:#e3d6e0;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
.left img {
  width: 100px;
}

.right {
  padding-top: 40px;
  text-align: center;
}
h1 {
  font-size: 1.8em;
}
button {
  padding: 15px 90px;
}
footer {
  text-align: center;
  padding-top: 80px;
}

/* Style the header */
.header {
  background-color: #e3d6e0;
  box-shadow: 10px blurred lavenderblush;
  color:#52063c;
  padding: 30px;
  text-align: center; 
  font-size: 35px;
}

.background {
  background-color: #e3d6e0;
  color:#52063c;
  padding: 30px;
  text-align: center; 
  font-size: 35px;
}

.header p {
  background-color: #e3d6e0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
h3 {
  color: #52063c;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  height: auto; 
}

.column-nav, .column-empty {
  background-color:#52063c;
  max-height: 100px;
}

.column-contact {
  background-color:#e3d6e0;
  max-height: 100px;
  font-size: 20px;
}

.column-brand, .column-social, .column-marketing, .column-tech, .column-pic, .column-testimonials {
  background-color:#824875;
}

/* Style the footer */
.footer {
  background-color: #52063c;
  color:#e3d6e0;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .left img {
  width: 100px;
  height: 100px;
  }
  .right {
  padding-top: 40px;
  text-align: center;
  }
  h1 {
  font-size: 1.8em;
  }
  button {
  padding: 15px 90px;
  }
  footer {
  text-align: center;
  padding-top: 80px;
  }
}
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
}