
* {
  box-sizing: border-box;
  border-radius: 25px;
  padding: 0;
  margin: 0;
  overflow: scroll;
} 

.background {
  background-color: #e3d6e0;
  color:#52063c;
  padding: 20px;
  text-align: center; 
  font-size: 25px;
}
html,
body {
  font-family: "Quicksand", "Poppins", sans-serif;
  background-color: #52063c;
  background-image: url("mystical-web-bkgrnd.jpg");
  color: #e3d6e0;
  padding: 20px 60px;
  height: 100vh;
  place-items: center;
  scroll-behavior: smooth;
}
#favicon {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

/* Style the header */
.inner {
  display: flex;
  max-width: 100%;
  border-radius: 25px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  text-align: center;  
}

.inner img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.inner h1 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: 10;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #b53389;
}

a:link {
  color: rgb(180, 177, 242);
  background-color: transparent;
  text-decoration: solid;
  font-weight: 40px;
}

a:visited {
  color: #b6e9f6;
  background-color: transparent;
  text-decoration: solid;
  font-weight: 40px;
}

a:hover {
  color: #ff00e6;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 40px;
}

a:active {
  color: #3127f1;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 40px;
}

#contact {
  display: inline-block;
  align-items: right;
  padding: 1rem;
  background-color: #b53389;
  color: #e3d6e0;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease;
}

.hero {
  padding: 30px 30px 30px 30px;
  margin: 20px auto;
  font-family: "Josefin Sans", "Montserrat", "Playfair Display", sans-serif;
}

.hero-pic .right {
  max-width: 300px;
  height: 200px;
  border-radius: 50%;
  align-items: right;
}

.hero .right h3 {
  font-size: 20px;
  font-weight: 60px;
  color: #e3d6e0;
  margin-bottom: 20px;
}

.hero .right h1, h2, h3 {
  color:#e3d6e0;
  font-size: 20px;
  font-weight: 10px;
  line-height: 5vh;
  margin-bottom: 20px;
} 

.hero .left h2 {
  color: #e3d6e0;
  font-size: 25px;
  font-weight: 50ox;
  line-height: 5vh;
  margin-bottom: 20px;
} 

.hero .left h2 span {
  color: #e3d6e0;
}

.hero .left p, h3, h4 {
  line-height: 1.9rem;
  margin-bottom: 20px;
  color: #e3d6e0;
}

.btn-primary {
  display: inline-block;
  align-items: right;
  padding: 1rem;
  background-color: #b10368;
  color: #e3d6e0;
  text-decoration: solid;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-primary:hover {
  background: transparent;
  border-color: #7f024b;
  border-width: 30px;
  color: #e3d6e0;
}

.btn-secondary {
  display: inline-block;
  align-items: right;
  padding: 1rem;
  background-color: #c90688;
  color: #e3d6e0;
  text-decoration: solid;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-secondary:hover {
  background: transparent;
  border-color: #c60475;
  border-width: 30px;
  color: #e3d6e0;
}

.btn-tertiary {
  display: inline-block;
  padding: 1rem; 
  background-color: #403e81;
  color: #e3d6e0;
  text-decoration: solid;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-tertiary:hover {
  background: transparent;
  border-color: #b10368;
  border-width: 30px;
  color: #e3d6e0;
}

.btn-quaternary {
  display: inline-block;
  padding: 1rem;
  background-color: #b53389;
  color: #e3d6e0;
  text-decoration: solid;
  border-radius: 25px;
  transition: all .2s ease;
  font-weight: 40px;
}

.btn-quaternary:hover {
  background: transparent;
  border-color: #f46fbd;
  border-width: 30px;
  color: #e3d6e0;
}

.btn-quinary {
  display: inline-block;
  padding: 1rem;
  background-color: #e3d6e0;
  color: #54afc6;
  font-weight: 40px;
  border-width: 10px;
  text-decoration: solid;
  border-radius: 25px;
  transition: all .2s ease;
}

.btn-quinary:hover {
  background: transparent;
  border-color: #f46fbd;
  border-width: 30px;
  font-weight: 40ps;
  color: #54afc6;
}
p {
  color: #e3d6e0;
  font-size: 20px;
  font-weight: 5px;
  line-height: 4vh;
  text-align: center;
}

h2 {
  color: #e3d6e0;
  font-weight: bold;
  font-size: 25px;  
}

h3 {
  color: #e3d6e0;
  font-weight: bold;
  font-size: 20px;  
}

h4 {
  color: #e3d6e0;
  font-weight: bold;
  font-size: 18px;  
}


#flex-pic {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  align-items: top;
}

.flex-container-intro {
  display: flex;
  color:#52063c;
  height: 300px;
  align-content: stretch;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  background-color: #e3d6e0;
  border-radius: 25px;
  opacity: 0.55;
}

.flex-container-intro h2 {
  opacity: .95;
  color: #52063c;
} 

.flex-container-quals {
  display: flex;
  background: #e3d6e0;
  color:#52063c;
  font-size: 20px;
  height: 300px;
  align-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  padding: 50px 20px 20px 80px;
  margin: 50px 20px 20px 80px;
  background-color: #e3d6e0;
  border-radius: 25px;
  opacity: 0.55;
}

.flex-container {
  display: flex;
  height: 400px;
  align-content: stretch;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  background-color: #e3d6e0;
  border-radius: 25px;
}

.column-pic {
    max-width: 300px;
    height: 200px;
    border-radius: 50%;
    align-items: top;
}

.container-2 {
  max-width: 90%;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Create equal columns that sits next to each other */
.column {
  display: flex;
  padding: 20px;
  height: auto; 
}

.column-social {
  justify-content: center;
  background-color:#824875;
  display: flex;
  align-items: stretch;
  overflow: scroll;
  padding: 20px;
  border-radius: 25px;
  
}

.column-bio {
  justify-content: center;
  background-color:#403e81;
  align-items: flex-start;
  padding: 20px;
  border-radius: 25px;
}

.row-projects {
  display: -webkit-flex;
  background-color: #824875;
  align-items: stretch;
  align-self: stretch;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
}

.column-brand, .column-marketing, .column-tech, .column-testimonials {
  display: flex;
  background-color:#824875;
  align-items: stretch;
  align-self: stretch;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
}
/* Style the footer */
.footer {
  background-color: #52063c;
  color:#e3d6e0;
  padding: 10px;
  text-align: center;
}


/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
.left img {
  width: 100px;
}

.right {
  padding-top: 40px;
  text-align: center;
}
h1 {
  font-size: 30px;
}
button {
  padding: 15px 90px;
}
footer {
  text-align: center;
  padding-top: 80px;
}

