 *, *::before, *::after {
      margin: 10px;
      box-sizing: border-box;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

html, body {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
    margin: 20px 0;
    margin: 20px 0;
    background: url("goatbkgrnd.jpg") no-repeat  #f9dfde;
    }

header {
  background-color: #e3d6e0;
  padding: 50px;
  text-align: center;
  font-size: 35px;
}

h1, h2 {
    padding: 20px;
    color: #dd037b;
    text-align: center;
    font-weight: bold;  
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 330px;
  margin: 5px auto;  
  background: #fc7fce;
  cursor: pointer;
  transition: all .4s linear;
  transform-style: preserve-3d;
  }

 img {
  padding: 5px;
  border-radius: 15px;
  height: 100px;
  width: 100px;
 }

 .start {
  background-color: #ff7c73;
  border: double;
  border-radius: 0.3em;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start:hover {
  background: transparent;
  border-color: #ff7c73;
  color: #fc7fce;
}
 
.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
 }

.card, .back, .front {
  height: 100px;
  width: 100px;
  border-radius: 50%;
 }

.back, .front {
  position: absolute;
  backface-visibility: hidden;
 }

.front {
  z-index: 2;
  background: #ff7c73 url("https://i.imgur.com/l6BCsf2.jpg") no-repeat;
  background-position: center center / contain;
 }

.selected {
  transform: rotateY(180deg);
 }

.match .front {
  background: #fc7fce url("https://i.imgur.com/CPveZn9.jpg") no-repeat;
 }

.back {
  transform: rotateY(180deg);   
  background: #dd037b no-repeat center center / contain;
  }

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  }

.score, .timer, .move-counter {
  display: flex;
  justify-content: center;
  color: #dd037b;
  font-weight: bold;
  margin: 10px;
}

.restart {
  background-color: #ff7c73;
  border: dotted;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart:hover {
  background: transparent;
  border-color: #0c0100;
  color: #ff7c73;
}
